body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#231358, #39acd2);
}

.form-container {
    background-color: #f3f0fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    font-size: 20px;
    color: #0b0808;
    margin-bottom: 15px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #0a0606;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(#443d5c, #3d7587);;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.payment-methods {
    margin-top: 20px;
    text-align: center;
}

.payment-methods p {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.payment-logos img {
    width: 40px;
    height: auto;
    margin: 0 5px;
    vertical-align: middle;
}


label[for="termos"] {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 10px; 
    width: 18px; 
    height: 18px; 
    cursor:pointer;
}

a i {
    margin-right: 5px;
}
